<html>
        <head>
                <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
                <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
                <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sidebar.css')}}">
                <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <!------ Include the above in your HEAD tag ---------->
                <title> New item </title>
            </head>
<body>

    {% include "header.html" %}

    <h1>Enter new item :</h1>

    <form action="{{url_for('addNewCategroyItem', categoryName = category.name )}}" method="POST">

        <p>Enter your item name :</p></br>
        <input type="text" name="itemName">
        <input type="submit" value="Submit">

    </form>

</body>

</html>