<header class="header">

	<div class="high-line-custom line-for-title">
		<h1 class="line-for-title"> Catalog App </h1>
	</div>

	<div class="header-nav-">

		{% if 'username' not in session %}
		<a href="{{url_for('loginOauth')}}">Click Here to Login </a>
		{% else %}

		<nav class="navbar">
			<ul class="nav-bar-custom">
				<li class="nav-bar-custom">
					<a class="" href="{{url_for('catalogIndex')}}">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Main page
					</a>
				</li>
				<li class="nav-bar-custom">
					<a href="{{url_for('addCategory')}}"> Add new category </a>
				</li>
				<li class="nav-bar-custom">

					<a href="{{url_for('gdisconnect')}}">Logout </a>
				</li>
			</ul>
			<ul>

			</ul>
		</nav>
		{% endif %}
	</div>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}

{% endif %}
{% endwith %}